.fa-plus,
.fa-minus {
    cursor: pointer;
}

.fa-plus:hover {
    color: rgb(182, 0, 0);
}

.fa-minus:hover {
    color: rgb(182, 0, 0);
}

.fa-trash {
    color: rgb(182, 0, 0);
    cursor: pointer;
}

.card-contact {
    background: rgb(248, 247, 247) !important;
}

.nav-item {
    margin: 0 10px;
}